.container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
}

.modal {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    background: #6929c4;
    z-index: 90;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 50px 10px #6929c4dd;
}

.modal-title {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}
